# vi: set ft=tmux

# Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'MunifTanjim/tmux-suspend'
set -g @plugin 'MunifTanjim/tmux-mode-indicator'

# Shell
{{- if eq .chezmoi.os "android" }}
set-option -g default-shell /data/data/com.termux/files/usr/bin/zsh
{{- else }}
set-option -g default-shell /bin/zsh
{{- end }}

# On 2024-03-29, I noticed that creating new panes/windows/sessions was
# extremely slow — as in 24 seconds, during which time input in other panes
# would behave very erratically (like printing the literal characters I'm
# typing instead of parsing them as Tmux or Vim commands, but doing so
# inconsistently). This was caused by slow login shell startup in Zsh. The GitHub
# comment linked below suggested that launching login shells (the default Tmux
# behaviour) is slower than launching non-login shells, and so I set Tmux to
# launch non-login shells instead. This immediately solved the problem, but I
# don't understand what caused it in the first place. exec -l zsh reproduces
# the problem but zsh --login does not. Some debugging revealed that the main
# culprits are /usr/libexec/path_helper -s (a known troublemaker; see
# https://unix.stackexchange.com/questions/22979/path-helper-and-zsh) and
# /opt/homebrew/bin/brew shellenv zsh. It remains to be seen whether this
# solution has undesirable side effects.
# https://github.com/tmux/tmux/issues/1087#issuecomment-331949035
set-option -g default-command "${SHELL}"

# Fix copying
if-shell 'test "$(uname -s)" != Darwin' \
    'set -g set-clipboard on'

# Respond to non-alphanumeric chars faster (e.g. in Vim)
# Rationale: https://github.com/tmux/tmux/issues/907 search "escape-time"
set -g escape-time 10

set -g display-panes-time 3000
set -g display-time 3000

# Required for vim-gitgutter
set -g focus-events on

# More sensible window splitting & creation
bind '"' split-window -v -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

# Make a nice grid of four windows. Mnemonic: "quad"
bind -N 'Split the window into four' Q split-window -h -c "#{pane_current_path}" \; \
  split-window -v -c "#{pane_current_path}" \; \
  select-pane -L \; \
  split-window -v -c "#{pane_current_path}"

bind A set-window-option synchronize-panes # 'a' for 'all'

bind X confirm-before 'kill-server'

# Add "notes" to session chooser
bind -N 'Set a note for this window' N command-prompt -p 'Add note to this window:' 'set -w @note "%%%"'
bind S choose-tree -wF '#{?@note,#[fg=red]#{@note}#[default] ,}#{?session_attached,(attached) ,}'
bind s choose-tree -swF '#{?@note,#[fg=blue]#{@note}#[default] ,}#{?session_attached,(attached) ,}'

bind -N 'Create or switch to session with name' C command-prompt -p 'Create or switch to session name:' 'new-session -As %%'
bind -N 'Create session for process' R command-prompt -p 'Create session for process:' 'new-session -s %1 %1'
bind -N 'Change session working directory' P command-prompt -p 'Change session working directory to:' 'attach-session -t . -c %%'

bind -N 'Set an environment variable for this window' E command-prompt -p 'Set variable name:','Set variable value:' 'run-shell "tmux set-environment TMUX_USER_ENV_%1 %2'

# Useful for tracking down open files in Vim!
bind -N 'Switch to window running a given PID' W command-prompt -p "Switch to pane with pid:" "run-shell 'pane=\$(ps eww %% | sed \"1d; s/^.*TMUX_PANE=//;s/ .*//\"); [[ -z \$pane ]] && tmux display-message \"could not find pid\" || tmux switch-client -t \$pane'"

set -g default-terminal "screen-16color"
set -g terminal-overrides 'xterm*:colors=16'

# Status bar
set -g status-justify centre
set -g status-left "#{tmux_mode_indicator} #S"
set -g status-left-length 20
set -g status-right "« #h: #W »"
setw -g status-fg colour7
setw -g status-style bg=default
setw -g window-status-format '#[fg=colour3]#I:#[fg=colour4]#W#{?#F, #F,}#{?@note,#[fg=colour3]:#[fg=colour7] #{=/20/…:@note},}'
setw -g window-status-current-format '#[bg=colour3 fg=colour0]#I:#W#{?#F, #F,}#{?@note,:#[fg=colour8] #{=/20/…:@note},}'
set-option -g allow-rename off
set-option -g renumber-windows on
set -g pane-border-indicators off
set -g pane-border-status bottom
set -g pane-border-style fg=colour8
set -g pane-active-border-style fg=colour11
setw -g pane-border-format '↳ #I.#P:#[fg=colour4]#{pane_current_command}#[fg=default] (#(echo "#{pane_current_path}" | rev | cut -d'/' -f-2 | rev)) #F'
set -g base-index 1
set -g pane-base-index 1

set -g detach-on-destroy off

# Let panes remain in place when their command exits.
set -g remain-on-exit on
# When a pane's command exits, check if it's the final pane in the session.
# If so, respawn; else kill the pane.
# Credit to nicm on Freenode #tmux.
set-hook -g pane-died "if -F '#{&&:#{==:#{session_windows},1},#{==:#{window_panes},1}}' 'respawn-pane' 'kill-pane'"

# Auto hide pane-border-status line when only one pane is displayed (see tmux/tmux#566)
# https://github.com/tmux/tmux/issues/566
set-hook -g 'after-resize-pane'  "if-shell -F '#{||:#{==:#{window_panes},1},#{window_zoomed_flag}}' 'set-window-option pane-border-status off' 'set-window-option pane-border-status bottom'"
set-hook -g 'after-new-window'   "if-shell -F '#{||:#{==:#{window_panes},1},#{window_zoomed_flag}}' 'set-window-option pane-border-status off' 'set-window-option pane-border-status bottom'"
set-hook -g 'after-kill-pane'    "if-shell -F '#{||:#{==:#{window_panes},1},#{window_zoomed_flag}}' 'set-window-option pane-border-status off' 'set-window-option pane-border-status bottom'"
set-hook -g 'pane-exited'        "if-shell -F '#{||:#{==:#{window_panes},1},#{window_zoomed_flag}}' 'set-window-option pane-border-status off' 'set-window-option pane-border-status bottom'"
set-hook -g 'after-split-window' "if-shell -F '#{||:#{==:#{window_panes},1},#{window_zoomed_flag}}' 'set-window-option pane-border-status off' 'set-window-option pane-border-status bottom'"

# Screen behaviour
set -g history-limit 40000

# Mouse mode!
set -g mouse on

# Vim mode!
set -g mode-keys vi
unbind h
bind h if-shell -F "#{window_zoomed_flag}" 'select-pane -L; resize-pane -Z' 'select-pane -L'
unbind j
bind j if-shell -F "#{window_zoomed_flag}" 'select-pane -D; resize-pane -Z' 'select-pane -D'
unbind k
bind k if-shell -F "#{window_zoomed_flag}" 'select-pane -U; resize-pane -Z' 'select-pane -U'
unbind l
bind l if-shell -F "#{window_zoomed_flag}" 'select-pane -R; resize-pane -Z' 'select-pane -R'
bind Escape copy-mode

bind -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'V' send -X select-line
bind -T copy-mode-vi 'r' send -X rectangle-toggle
bind -T copy-mode-vi 'y' send -X copy-selection-and-cancel

# Keep this at the bottom!
run -b '~/.tmux/plugins/tpm/tpm'
