copy_on_select clipboard

font_size 14.0
font_family JetBrains Mono SemiBold
bold_font auto
italic_font JetBrains Mono SemiBold Italic
bold_italic_font auto
adjust_line_height 95%

background_opacity 0.95

# Yellowhammer
background #{{- .colours.bg }}
foreground #{{- .colours.fg_white }}
selection_background #{{- .colours.fg_white }}
selection_foreground #{{- .colours.bg_black }}
url_color #a7adba
cursor #4a4543
active_border_color #{{- .colours.black_bright_comment }}
inactive_border_color #343d46
active_tab_background #{{- .colours.bg_black }}
active_tab_foreground #{{- .colours.fg_white }}
inactive_tab_background #343d46
inactive_tab_foreground #a7adba

# normal
color0 #{{- .colours.bg_black }}
color1 #{{- .colours.red }}
color2 #{{- .colours.green }}
color3 #{{- .colours.yellow }}
color4 #{{- .colours.blue }}
color5 #{{- .colours.magenta }}
color6 #{{- .colours.cyan }}
color7 #{{- .colours.fg_white }}

# bright
color8 #{{- .colours.black_bright_comment }}
color9  #{{- .colours.red_bright }}
color10 #{{- .colours.green_bright }}
color11 #{{- .colours.yellow_bright }}
color12 #{{- .colours.blue_bright }}
color13 #{{- .colours.magenta_bright }}
color14 #{{- .colours.cyan_bright }}
color15 #{{- .colours.fg_white_bright }}
