encryption = "age"
[age]
  identities = ["{{ .chezmoi.homeDir }}/age-key.txt"]
  recipients = ["age1lm2xjn094ysxmghtmrghql5hchnp50z9vtnkcfvgm5kmdrjdlvxqsmw05j"]

[diff]
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[edit]
hardlink = false

[data.colours]
# Yellowhammer
bg                   = "22242c"
black_bright_comment = "57566a"
fg_white             = "d9e0ee"
bg_black             = "1a1b26"
fg_white_bright      = "c9d1d9"
yellow               = "f5c000"
yellow_bright        = "ffde57"
red                  = "e88388"
green                = "a6da95"
blue                 = "8aadf4"
magenta              = "f5bde6"
cyan                 = "89dceb"
red_bright           = "f28fa2"
green_bright         = "abe9b3"
blue_bright          = "96cdfb"
magenta_bright       = "f8c0e7"
cyan_bright          = "94e2d5"
